@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-primary: #bf616a;
    --color-secondary: #dddddd;
    --color-dark: #64748b;
    --color-diffused: #dddddd;
    --color-warning: #ff0000;
    --color-bg: #bf616a;
  }
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  overflow-y: overlay;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

button {
  outline-color: transparent;
}

form > input {
  width: 100%;
}

::-webkit-scrollbar {
  position: fixed;
  width: 0.8rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
  border: 0.2rem solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  border: 0;
}

.comment {
  padding: .5rem;
  border: 1px solid var(--color-diffused);
  border-radius: .5rem;
}

.comment .header {
  color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  margin-bottom: .25rem;
  font-size: .75em;
}

.comment .header .name {
  font-weight: bold;
}

.comment .message {
  white-space: pre-wrap;
  margin-left: .5rem;
  margin-right: .5rem;
}

.comment .footer {
  display: flex;
  gap: .5rem;
  margin-top: .5rem;
}
